# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath

# Package Files
*.jar
*.war
*.ear
*.db



